*,
*::before,
*::after {
  box-sizing: border-box;
}

div#mainContent{
  border:#5AB029 3px solid;
  margin: auto;
  padding:10px 40px 40px 40px;
  background-color:#E5FCE3;
  width:50%;}


/*responsive screen*/
@media (max-width: 690px) {

  }
  
  @media (max-width: 500px) {

  }