*,
*::before,
*::after {
  box-sizing: border-box;
}

div#mainContent {
  border: rgb(142, 155, 214) 5px solid;
  margin: auto;
  padding: 10px 40px 40px 40px;
  background-color: rgb(240, 211, 227);
  width: 50%;
}

.btn.btn-lg {
  margin: 5px;
}

.btn.btn-sm {
  margin: 5px;
}

#scoreRank {
  border-radius: 10px;
  background-color: white;
  padding: 3px;
}

#userInitial {
  margin: 5px;
}



/*responsive screen*/
@media (max-width: 690px) {
  div#mainContent {
    border: rgb(142, 155, 214) 5px solid;
    margin: auto;
    padding: 10px 40px 40px 40px;
    background-color: rgb(240, 211, 227);
    width: 80%;
  }
}

@media (max-width: 500px) {
  div#mainContent {
    border: rgb(142, 155, 214) 5px solid;
    margin: auto;
    padding: 10px 40px 40px 40px;
    background-color: rgb(240, 211, 227);
    width: 70%;
  }
}
